<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> <!--boostrap link to style the page -->
    <title>Title</title>
</head>
<body>
    <div class="container text-center"> <!-- a div tag that centralized the page -->
        <h1>Random Password Generator </h1>
        <h2>Select the options you would like for you password to possibly contain </h2>
        <h3> If you are not pleased with the password refresh the page </h3>

            <form action="{% url 'password' %}">  <!-- this allows us to reference a url via is name -->
                <select name="length">
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select> Length
                <br> <!-- br is for line breaks to put it on new line -->
                <input type="checkbox" name="uppercase"> Uppercase
                <br>
                <input type="checkbox" name="numbers"> Numbers
                <br>
                <input type="checkbox" name="special"> Special characters
                <br>
                <input type="submit" value="Generate Password" class="btn btn-primary"> <!-- this is the button -->
            </form>
            <br>
            <br>
            <br>
            <a href="{% url 'about' %}">About Page </a>
    </div>
</body>
</html>
